.button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    margin: 28px;
    letter-spacing: 4px;
    background-color: inherit;
  }
  
  .button:hover {
    background: #03f40b;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f40b,
                0 0 25px #03f40b,
                0 0 50px #03f40b,
                0 0 100px #03f40b;
  }
.Search{
    width: 12px;
}

.input{
    border-radius: 6px;
    padding: 13px;
    border: none;
    font-family: cursive;
}